In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('raw_data.csv',index_col=[0])

In [3]:
df.head()

,url,articles
0,/2022/04/01/books/review/letters-to-the-editor...,To the Editor:Regarding Daphne Merkin’s review...
1,/2022/03/22/technology/bitcoin-miners-environm...,Along a dirt-covered road deep in Texas farm c...
2,/2022/03/19/opinion/abortion-laws-bans-missour...,"With Roe v. Wade on thin ice, state legislatur..."
3,/2022/03/25/sports/baseball/mlb-drug-testing.html,PHOENIX — When the 99-day work stoppage in Maj...
4,/2022/03/15/business/russia-debt-bonds-default...,Russia is teetering on the edge of a possible...

In [4]:
df_copy = df.copy()

In [5]:
def punctuation_removal(text):
    punctuationfree= "".join([i for i in text if i not in string.punctuation])
    return punctuationfree

In [6]:
df_copy.articles = df_copy.articles.str.lower()

In [7]:
import string
df_copy.articles = df_copy.articles.map(lambda x: re.sub('[%s]' % re.escape(string.punctuation), ' ', str(x)))

In [8]:
df_copy.articles = df_copy.articles.apply(lambda x: punctuation_removal(str(x)))

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
vectorizer = CountVectorizer(stop_words={'english'},max_df=.70,min_df=2,token_pattern=r'(?u)\b[A-Za-z]+\b')

In [11]:
#creating a function that tokenizes the 
def tokenize_text(articles):
    output = articles.split(' ')
    return output

In [12]:
df_copy['tokenized'] = df_copy['articles'].apply(lambda x: tokenize_text(x))

In [13]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [14]:
import nltk
nltk.download('wordnet')

def lemma(text):
    output = [lemmatizer.lemmatize(word) for word in text]
    return output

df_copy['lemmatized'] = df_copy['tokenized'].apply(lambda x: lemma(x))

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\lmoran\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [15]:
df_copy['lemmatized']

0       [to, the, editor, regarding, daphne, merkin’s,...
1       [along, a, dirt, covered, road, deep, in, texa...
2       [with, roe, v, , wade, on, thin, ice, , state,...
3       [phoenix, —, when, the, 99, day, work, stoppag...
4       [, russia, is, teetering, on, the, edge, of, a...
                              ...
1023    [johnny, grier, , who, became, the, first, bla...
1024    [sometimes, lately, , when, he, hasn’t, been, ...
1025    [tijuana, , mexico, —, the, frontier, shape, t...
1026    [until, recent, event, at, the, oscar, , the, ...
1027    [lisette, coly, and, anastasia, damalas, are, ...
Name: lemmatized, Length: 1028, dtype: object

In [16]:
def creating_strings(text):
    empty = ''
    for i in text:
        empty = empty + ' '+ i
    return empty

In [17]:
df_copy['back_to_strings'] = df_copy['lemmatized'].apply(lambda x: creating_strings(x))

In [18]:
df_copy['back_to_strings'] = df_copy['back_to_strings'].str.lower()

In [19]:
df_copy['back_to_strings']

0        to the editor regarding daphne merkin’s revie...
1        along a dirt covered road deep in texas farm ...
2        with roe v  wade on thin ice  state legislatu...
3        phoenix — when the 99 day work stoppage in ma...
4         russia is teetering on the edge of a possibl...
                              ...
1023     johnny grier  who became the first black refe...
1024     sometimes lately  when he hasn’t been rehears...
1025     tijuana  mexico — the frontier shape this met...
1026     until recent event at the oscar  the film sea...
1027     lisette coly and anastasia damalas are at a c...
Name: back_to_strings, Length: 1028, dtype: object

In [20]:
X = vectorizer.fit_transform(df_copy.back_to_strings)
terms = vectorizer.get_feature_names()

In [21]:
from sklearn.decomposition import NMF

nmf_10 = NMF(n_components=10)
doc_topic = nmf_10.fit_transform(X)

In [22]:
import numpy as np

In [23]:
#function from Metis
def get_top_terms(topic, n_terms, nmf=nmf_10, terms=terms):
    # get the topic components (i.e., term weights)
    components = nmf.components_[topic, :]

    # get term indices, sorted (descending) by topic weights
    top_term_indices = components.argsort()[-n_terms:]
    
    # use the `terms` array to get the actual top terms
    top_terms = np.array(terms)[top_term_indices]
    
    return top_terms.tolist()

In [24]:
topics = ['-'.join(get_top_terms(i,10)) for i in range(10)]
topics

['political-white-election-biden-former-house-president-him-trump-mr',
 'u-where-me-my-mother-told-charo-woman-her-she',
 're-just-people-do-me-your-can-what-my-you',
 'c-player-season-n-no-first-tournament-team-point-game',
 'u-united-military-country-ukrainian-putin-war-ukraine-russian-russia',
 'map-election-bill-democrat-right-republican-law-court-abortion-state',
 'senator-school-case-justice-law-black-republican-court-jackson-judge',
 'group-first-because-family-work-she-company-her-people-m',
 'inflation-market-oil-rate-energy-will-percent-gas-price-company',
 'pandemic-school-york-many-vaccine-covid-health-people-dr-city']

In [25]:
get_top_terms(0, 10, nmf_10, terms)

['political',
 'white',
 'election',
 'biden',
 'former',
 'house',
 'president',
 'him',
 'trump',
 'mr']

In [26]:
vectorizer2 = CountVectorizer(stop_words={'english'},max_df=.8,min_df=2)

In [27]:
X = vectorizer.fit_transform(df_copy.back_to_strings)
terms2 = vectorizer.get_feature_names()

In [28]:
nmf_10_2= NMF(n_components=5)
doc_topic = nmf_10_2.fit_transform(X)

In [29]:
get_top_terms(0,10,nmf_10_2,terms2)

['them', 'could', 'dr', 'many', 'will', 'city', 'what', 'can', 'people', 'you']

In [30]:
topics = ['-'.join(get_top_terms(i,10)) for i in range(10)]
topics

['political-white-election-biden-former-house-president-him-trump-mr',
 'u-where-me-my-mother-told-charo-woman-her-she',
 're-just-people-do-me-your-can-what-my-you',
 'c-player-season-n-no-first-tournament-team-point-game',
 'u-united-military-country-ukrainian-putin-war-ukraine-russian-russia',
 'map-election-bill-democrat-right-republican-law-court-abortion-state',
 'senator-school-case-justice-law-black-republican-court-jackson-judge',
 'group-first-because-family-work-she-company-her-people-m',
 'inflation-market-oil-rate-energy-will-percent-gas-price-company',
 'pandemic-school-york-many-vaccine-covid-health-people-dr-city']

Through initial results, the most important hyperparameter going forward will be the max_df. When we had it set at .9 we received too many generic words in our topics. So we lowered it to .8. We will try lowering it even further with future work.

The topics that we see with 10 topics are 
1. Pandemic and New York City
2. Unclear, ends with feminine pronouns
3. US politics
4. Unclear, ends with masculine pronouns
5. Sports
6. Ukraine-Russia Conflict
7. Pronouns, could be editirials?
8. ketanji brown jackson supreme court
9. Covid and vaccines
10. Gas prices rising

In [31]:
df_copy.url[0][1:11]

'2022/04/01'

In [32]:
df_copy['year'] = df_copy.url.apply(lambda x : x[1:11])

In [36]:
df_copy.drop(df_copy[df_copy['year'] == 'live/2022/'].index, inplace = True)

In [37]:
df_copy[df_copy['url'] == 'interactiv']

Empty DataFrame
Columns: [url, articles, tokenized, lemmatized, back_to_strings, year]
Index: []

In [38]:
df_copy.year.value_counts()

2022/03/25    44
2022/03/11    44
2022/03/23    44
2022/03/31    41
2022/03/30    39
2022/04/01    39
2022/03/09    37
2022/03/24    37
2022/03/22    37
2022/03/08    35
2022/03/18    35
2022/03/16    34
2022/04/06    34
2022/04/04    34
2022/03/28    32
2022/03/14    32
2022/03/17    31
2022/03/10    30
2022/03/29    30
2022/03/21    29
2022/03/15    29
2022/04/05    27
2022/03/07    27
2022/04/03    26
2022/03/13    25
2022/03/27    24
2022/04/07    21
2022/03/20    21
2022/03/19    18
2022/04/02    17
2022/03/12    16
2022/03/26    16
2022/03/04     6
2022/03/05     4
2022/04/08     2
2022/03/03     2
2022/03/06     2
2022/02/22     1
2022/02/24     1
2022/01/31     1
2022/02/10     1
Name: year, dtype: int64

In [111]:
df_copy[df_copy.year.str.startswith('article',1)]

,url,articles,tokenized,lemmatized,back_to_strings,year
347,/article/federal-reserve-rate-increase.html,consumers are already feeling squeezed by high...,"[consumers, are, already, feeling, squeezed, b...","[consumer, are, already, feeling, squeezed, by...",consumer are already feeling squeezed by high...,article/fe

In [39]:
df_copy['year'] = pd.to_datetime(df_copy["year"])

In [ ]:
pip install bertopic[visualization]print

In [40]:
df_copy.to_csv('converted_data.csv')

In [41]:
print('mercy')

mercy

In [42]:
print('mercy')

mercy

In [1]:
df_copy.head()

NameError: name 'df_copy' is not defined